<footer class="footer">
  <div class="section-heading">
    <p><strong>&copy; 2025 Lovell McIlwain. All rights reserved.</strong></p>
    <p>
      <%= mail_to "mailto:lovell.mcilwain@gmail.com", "Contact" %> |
      <%= link_to :LinkedIn, "https://www.linkedin.com/in/vmcilwain", target: "_blank" %> |
      <%= link_to :Github, "https://www.github.com/vmcilwain", target: "_blank" %>
    </p>
  </div>
</footer>
