<section class="section" id="about">
  <div class="section-heading">
    <h3 class="title is-2">About Me</h3>
    <h4 class="subtitle is-5">Driving Innovation Through Robust Software Development</h4>
    <div class="container has-text-left">
      <p>
        Full-stack engineer with a strong background in building SaaS applications. 
        With over <strong>9 years</strong> of experience, a degree in <strong>Information Technology</strong>, 
        and a background in <strong>Systems Administration</strong>, I have experience building web applications 
        from the ground up. Looking for the opportunity to work with an organization that has growth potential, 
        invests in its staff, is forward-moving, and believes in staying ahead of the competition while giving back to the community.
      </p>
      <br>
      <p>
        My most recent experience is with Power Home Remodeling as a Full-Stack Engineer working primarily with <strong>Ruby on Rails</strong> 
        and <strong>React</strong> to build and maintain internal tools and customer-facing applications for the Brand and Digital Marketing teams.
      </p>
      <br>
      <p>
        I have also been focusing on expanding my skills in Generative A.I. and DevOps to complement my existing expertise.
      </p>
    </div>
  </div>

  <div class="columns has-same-height is-gapless">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h3 class="title is-4">Profile</h3>

          <div class="content">
            <table class="table-profile">
              <tr>
                <th colspan="1"></th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <td>Address:</td>
                <td>Greenbelt, MD</td>
              </tr>
              <!--
              <tr>
                <td>Phone:</td>
                <td>0123-456789</td>
              </tr>
              -->
              <tr>
                <td>Email:</td>
                <td><%= mail_to "lovell.mcilwain@gmail.com", "lovell.mcilwain@gmail.com" %></td>
              </tr>
            </table>
          </div>
          <br>
          <div class="buttons has-addons is-centered">
            <%= link_to :Github, "https://www.github.com/vmcilwain", class: "button is-link", target: "_blank" %>
            <%= link_to :LinkedIn, "https://www.linkedin.com/in/vmcilwain", class: "button is-link", target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag "headshot.png", alt: "Profile picture of Lovell McIlwain" %>
          </figure>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <div class="card-content skills-content">
          <h3 class="title is-4">Skills</h3>
          <div class="content">

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Ruby on Rails:</strong>
                    <br>
                    <progress class="progress is-primary" value="90" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>React:</strong>
                    <br>
                    <progress class="progress is-primary" value="80" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>A.I.:</strong>
                    <br>
                    <progress class="progress is-primary" value="60" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>HTML5/CSS3</strong>
                    <br>
                    <progress class="progress is-primary" value="90" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Databases</strong>
                    <br>
                    <progress class="progress is-primary" value="66" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>DevOps - Continuing to build Skill</strong>
                    <br>
                    <progress class="progress is-primary" value="50" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Skills tags -->
  <!-- <br>
        <div class="tags custom-tags">
          <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">VueJS</span><span
            class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
            class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
            class="tag is-light">jQuery</span><span class="tag is-light">Pug</span><span class="tag is-light">Stylus</span><span
            class="tag is-light">SASS/SCSS</span><span class="tag is-light">Webpack</span><span class="tag is-light">Git</span><span
            class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">MSSQL</span><span class="tag is-light">MongoDB</span><span
            class="tag is-light">Apache Cordova</span><span class="tag is-light">Chrome Extensions</span>
        </div> -->
