<section class="section" id="services">
  <div class="section-heading">
    <h3 class="title is-2">Services</h3>
    <h4 class="subtitle is-5">What I can do for you</h4>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Front End Web Development</h4>
            Using the latest standards with HTML5/CSS3 along with Javascript, React, and Stimulus to create help create beautiful Front End applications
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Back End Web Development</h4>
            Developing Back End applications, services, and APIs using ActivRecord, SQL, and Mongo DB.
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">DevOps</h4>
            While still developing skill in this area, I can assist with set up and maintainenance of CI/CD pipelines using Kubernetes, Terraform, Shell Scripts, GitHub Actions or Jenkins.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Generative A.I.</h4>
            While not actively doing any projects in this area, I understand the concepts of using A.I. tools to help with code generation, debugging, and chat assistance.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
