<section class="section" id="services">
  <div class="section-heading">
    <h3 class="title is-2">Services</h3>
    <h4 class="subtitle is-5">What I can do for you</h4>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Front End Web Development</h4>
            Crafting stunning front-end applications with HTML5, CSS3, JavaScript, React, and Stimulus that captivate users and elevate the digital experience.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Back End Web Development</h4>
            Building dynamic and resilient back-end applications, services, and APIs by harnessing the seamless power of ORMs such as ActiveRecord, alongside the versatility of SQL or MongoDB, to deliver exceptional performance and user experiences.
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">DevOps</h4>
            As I continue to hone my skills in this area, I am eager to assist you with setting up and maintaining robust CI/CD pipelines. I understand various powerful tools, including Kubernetes, Terraform, Shell Scripts, GitHub Actions, and Jenkins.
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Generative A.I.</h4>
            While I may not be engaged in projects within this field, I possess a solid grasp of the transformative power of AI tools such as ChatGPT, Claude, and Cursor in enhancing code generation, debugging, and chat assistance.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
